:root {
  /* Error Light colors shade */
  /* --error: #ef4444; */
  /* --error: rgba(255, 000, 000); */
  --error: 4 86% 58%;
  --error-foreground: 0 0% 100%;

  --error-25: 12 100% 99%;
  --error-25-foreground: var(--error-700);

  --error-50: 5 86% 97%;
  --error-50-foreground: var(--error-700);

  --error-100: 4 93% 94%;
  --error-100-foreground: var(--error-700);

  --error-200: 3 96% 89%;
  --error-200-foreground: var(--error-700);

  --error-300: 4 96% 80%;
  --error-300-foreground: var(--error-700);

  --error-400: 4 92% 69%;
  --error-400-foreground: 0 0% 100%;

  --error-500: var(--error);
  --error-500-foreground: 0 0% 100%;

  --error-600: 4 74% 49%;
  --error-600-foreground: 0 0% 100%;

  --error-700: 4 76% 40%;
  --error-700-foreground: 0 0% 100%;

  --error-800: 4 72% 33%;
  --error-800-foreground: 0 0% 100%;

  --error-900: 8 65% 29%;
  --error-900-foreground: 0 0% 100%;

  --error-950: 8 75% 19%;
  --error-950-foreground: 0 0% 100%;
}
