:root {
  /* info Secondary colors shade */
  --info: 199 89% 48%;
  --info-foreground: 0 0% 0%;

  --info-50: 204 100% 97%;
  --info-50-foreground: 0 0% 0%;

  --info-100: 204 94% 94%;
  --info-100-foreground: 0 0% 0%;

  --info-200: 201 94% 86%;
  --info-200-foreground: 0 0% 0%;

  --info-300: 199 95% 74%;
  --info-300-foreground: 0 0% 0%;

  --info-400: 198 93% 60%;
  --info-400-foreground: 0 0% 0%;

  --info-500: 199 89% 48%;
  --info-500-foreground: 0 0% 0%;

  --info-600: 200 98% 39%;
  --info-600-foreground: 0 0% 0%;

  --info-700: 201 96% 32%;
  --info-700-foreground: 0 0% 100%;

  --info-800: 201 90% 27%;
  --info-800-foreground: 0 0% 100%;

  --info-900: 202 80% 24%;
  --info-900-foreground: 0 0% 100%;

  --info-950: 204 80% 16%;
  --info-950-foreground: 0 0% 100%;
}
