:root {
  /* Dark muted colors shade */
  /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
  --muted: 180 3, 94%;
  --muted-foreground: 0 0, 0%;

  --muted-50: 180 3, 94%;
  --muted-50-foreground: 0 0, 0%;

  --muted-100: 240 2, 89%;
  --muted-100-foreground: 0 0, 0%;

  --muted-200: 210 2, 83%;
  --muted-200-foreground: 0 0, 0%;

  --muted-300: 240 2, 78%;
  --muted-300-foreground: 0 0, 0%;

  --muted-400: 225 2, 66%;
  --muted-400-foreground: 0 0, 0%;

  --muted-500: 228 2, 55%;
  --muted-500-foreground: 0 0, 0%;

  --muted-600: 230 3, 44%;
  --muted-600-foreground: 0 0, 100%;

  --muted-700: 228 3, 35%;
  --muted-700-foreground: 0 0, 100%;

  --muted-800: 225 3, 26%;
  --muted-800-foreground: 0 0, 100%;

  --muted-900: 240 2, 18%;
  --muted-900-foreground: 0 0, 100%;

  --muted-950: 240 3, 13%;
  --muted-950-foreground: 0 0, 100%;
}
