:root {
  /* Light popover colors shade */
  /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
  --popover: 180 3% 94%;
  --popover-foreground: 0 0% 0%;

  --popover-50: 180 3% 94%;
  --popover-50-foreground: 0 0% 0%;

  --popover-100: 240 2% 89%;
  --popover-100-foreground: 0 0% 0%;

  --popover-200: 210 2% 83%;
  --popover-200-foreground: 0 0% 0%;

  --popover-300: 240 2% 78%;
  --popover-300-foreground: 0 0% 0%;

  --popover-400: 225 2% 66%;
  --popover-400-foreground: 0 0% 0%;

  --popover-500: 228 2% 55%;
  --popover-500-foreground: 0 0% 0%;

  --popover-600: 230 3% 44%;
  --popover-600-foreground: 0 0% 100%;

  --popover-700: 228 3% 35%;
  --popover-700-foreground: 0 0% 100%;

  --popover-800: 225 3% 26%;
  --popover-800-foreground: 0 0% 100%;

  --popover-900: 240 2% 18%;
  --popover-900-foreground: 0 0% 100%;

  --popover-950: 240 3% 13%;
  --popover-950-foreground: 0 0% 100%;
}
