:root {
  /* Light Primary colors shade */
  --primary: #73a3ce;
  --primary-foreground: #000000;

  --primary-50: #ffffff;
  --primary-50-foreground: #000000;

  --primary-100: #e8f0f7;
  --primary-100-foreground: #000000;

  --primary-200: #d0e0ef;
  --primary-200-foreground: #000000;

  --primary-300: #b9d1e7;
  --primary-300-foreground: #000000;

  --primary-400: #a2c1df;
  --primary-400-foreground: #000000;

  --primary-500: #73a3ce;
  --primary-500-foreground: #000000;

  --primary-600: #4584be;
  --primary-600-foreground: #000000;

  --primary-700: #1665ae;
  --primary-700-foreground: #ffffff;

  --primary-800: #12518b;
  --primary-800-foreground: #ffffff;

  --primary-900: #0d3d68;
  --primary-900-foreground: #ffffff;

  --primary-950: #092846;
  --primary-950-foreground: #ffffff;
}
