:root {
  /* success Secondary colors shade */
  --success: 152 77% 39%;
  --success-foreground: 0 0% 100%;

  --success-25: 142 80% 98%;
  --success-25-foreground: var(--success-700);

  --success-50: 145 81% 96%;
  --success-50-foreground: var(--success-700);

  --success-100: 140 75% 92%;
  --success-100-foreground: var(--success-700);

  --success-200: 144 68% 80%;
  --success-200-foreground: var(--success-700);

  --success-300: 148 63% 67%;
  --success-300-foreground: var(--success-700);

  --success-400: 150 57% 54%;
  --success-400-foreground: 0 0% 100%;

  --success-500: var(--success);
  --success-500-foreground: 0 0% 100%;

  --success-600: 153 91% 30%;
  --success-600-foreground: 0 0% 100%;

  --success-700: 155 90% 24%;
  --success-700-foreground: 0 0% 100%;

  --success-800: 155 84% 20%;
  --success-800-foreground: 0 0% 100%;

  --success-900: 156 83% 16%;
  --success-900-foreground: 0 0% 100%;

  --success-950: 157 82% 11%;
  --success-950-foreground: 0 0% 100%;
}
