@import "./colors.css";

:root {
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  --background: 210 80% 96%;
  --foreground: 0 0% 1%;

  --border: 214.3 31.8% 91.4%;

  /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
  --input: 214.3 31.8% 91.4%;

  /* Used for focus ring */
  --ring: 222.2 84% 4.9%;

  /* Border radius for card, input and buttons */
  --radius: 0.5rem;
}
