:root {
  /* warning colors shade */
  --warning: #eab308;
  --warning-foreground: #000000;

  --warning-50: #fefce8;
  --warning-50-foreground: #000000;

  --warning-100: #fef9c3;
  --warning-100-foreground: #000000;

  --warning-200: #fef08a;
  --warning-200-foreground: #000000;

  --warning-300: #fde047;
  --warning-300-foreground: #000000;

  --warning-400: #facc15;
  --warning-400-foreground: #000000;

  --warning-500: #eab308;
  --warning-500-foreground: #000000;

  --warning-600: #ca8a04;
  --warning-600-foreground: #000000;

  --warning-700: #a16207;
  --warning-700-foreground: #ffffff;

  --warning-800: #854d0e;
  --warning-800-foreground: #ffffff;

  --warning-900: #713f12;
  --warning-900-foreground: #ffffff;

  --warning-950: #422006;
  --warning-950-foreground: #ffffff;
}
