.dark {
  /*************************************
                Text Token 
    **************************************/
  --text-primary: var(--gray-50);
  --text-primary_on-brand: var(--gray-50);

  --text-secondary: var(--gray-300);
  --text-secondary_hover: var(--gray-200);
  --text-secondary_on-brand: var(--gray-300);

  --text-tertiary: var(--gray-400);
  --text-tertiary_hover: var(--gray-300);
  --text-tertiary_on-brand: var(--gray-400);

  --text-quaternary: var(--gray-400);
  --text-quaternary_on-brand: var(--gray-400);

  --text-white: white;
  --text-disabled: var(--gray-500);
  --text-placeholder: var(--gray-400);
  --text-placeholder_subtle: var(--gray-700);

  --text-brand-primary: var(--brand-50);
  --text-brand-secondary: var(--brand-300);
  --text-brand-tertiary: var(--brand-400);
  --text-brand-tertiary_alt: var(--brand-50);

  --text-error-primary: var(--error-400);
  --text-warning-primary: var(--warning-400);
  --text-success-primary: var(--success-400);

  /*************************************
                  Border Token 
      **************************************/
  --border-primary: var(--gray-700);

  --border-secondary: var(--gray-800);

  --border-tertiary: var(--gray-800);

  --border-disabled: var(--gray-700);
  --border-disabled_subtle: var(--gray-800);

  --border-brand: var(--brand-400);
  --border-brand_alt: var(--gray-700);

  --border-error: var(--error-400);
  --border-error_subtle: var(--error-400);

  /*************************************
                Foreground Token 
    **************************************/
  --fg-primary: white;
  --fg-secondary: var(--gray-300);
  --fg-secondary_hover: var(--gray-200);
  --fg-tertiary: var(--gray-400);
  --fg-tertiary_hover: var(--gray-300);
  --fg-quaternary: var(--gray-400);
  --fg-quaternary_hover: var(--gray-300);
  --fg-quinary: var(--gray-500);
  --fg-quinary_hover: var(--gray-400);
  --fg-senary: var(--gray-600);

  --fg-white: white;
  --fg-disabled: var(--gray-500);
  --fg-disabled_subtle: var(--gray-600);

  --fg-brand-primary: var(--brand-500);
  --fg-brand-primary_alt: var(--brand-300);
  --fg-brand-secondary: var(--brand-500);

  --fg-error-primary: var(--error-500);
  --fg-error-secondary: var(--error-400);
  --fg-warning-primary: var(--warning-500);
  --fg-warning-secondary: var(--warning-400);
  --fg-success-primary: var(--success-500);
  --fg-success-secondary: var(--success-400);

  /*************************************
                  Background Token 
      **************************************/
  --bg-primary: var(--gray-950);
  --bg-primary_alt: var(--gray-900);
  --bg-primary_hover: var(--gray-800);

  --bg-primary-solid: var(--gray-900);

  --bg-secondary: var(--gray-900);
  --bg-secondary_alt: var(--gray-950);
  --bg-secondary_hover: var(--gray-800);
  --bg-secondary_sublte: var(--gray-900);
  --bg-secondary-solid: var(--gray-600);
  --bg-tertiary: var(--gray-800);
  --bg-quaternary: var(--gray-700);

  --bg-active: var(--gray-800);
  --bg-disabled: var(--gray-800);
  --bg-disabled_subtle: var(--gray-900);
  --bg-overlay: var(--gray-800);

  --bg-brand-primary: var(--brand-500);
  --bg-brand-primary_alt: var(--gray-800);
  --bg-brand-secondary: var(--brand-600);
  --bg-brand-solid: var(--brand-600);
  --bg-brand-solid_hover: var(--brand-500);
  --bg-brand-section: var(--gray-800);
  --bg-brand-section_subtle: var(--gray-950);

  --bg-error-primary: var(--error-500);
  --bg-error-secondary: var(--error-600);
  --bg-error-solid: var(--error-600);

  --bg-warning-primary: var(--warning-500);
  --bg-warning-secondary: var(--warning-600);
  --bg-warning-solid: var(--warning-600);

  --bg-success-primary: var(--success-500);
  --bg-success-secondary: var(--success-600);
  --bg-success-solid: var(--success-600);

  /*************************************
        Color Utility Variables Token 
    **************************************/

  --alpha-white-10: hsl(var(--gray-950) / 0.1);
  --alpha-white-20: hsl(var(--gray-950) / 0.2);
  --alpha-white-30: hsl(var(--gray-950) / 0.3);
  --alpha-white-40: hsl(var(--gray-950) / 0.4);
  --alpha-white-50: hsl(var(--gray-950) / 0.5);
  --alpha-white-60: hsl(var(--gray-950) / 0.6);
  --alpha-white-70: hsl(var(--gray-950) / 0.7);
  --alpha-white-80: hsl(var(--gray-950) / 0.8);
  --alpha-white-90: hsl(var(--gray-950) / 0.9);
  --alpha-white-100: hsl(var(--gray-950) / 1);

  --alpha-black-10: hsl(0, 0%, 100%, 10%);
  --alpha-black-20: hsl(0, 0%, 100%, 20%);
  --alpha-black-30: hsl(0, 0%, 100%, 30%);
  --alpha-black-40: hsl(0, 0%, 100%, 40%);
  --alpha-black-50: hsl(0, 0%, 100%, 50%);
  --alpha-black-60: hsl(0, 0%, 100%, 60%);
  --alpha-black-70: hsl(0, 0%, 100%, 70%);
  --alpha-black-80: hsl(0, 0%, 100%, 80%);
  --alpha-black-90: hsl(0, 0%, 100%, 90%);
  --alpha-black-100: hsl(0, 0%, 100%, 100%);

  /*************************************
                Utility Colors Token 
      **************************************/

  --utility-gray-50: var(--gray-900);
  --utility-gray-100: var(--gray-800);
  --utility-gray-200: var(--gray-700);
  --utility-gray-300: var(--gray-700);
  --utility-gray-400: var(--gray-600);
  --utility-gray-500: var(--gray-500);
  --utility-gray-600: var(--gray-400);
  --utility-gray-700: var(--gray-300);
  --utility-gray-800: var(--gray-200);
  --utility-gray-900: var(--gray-100);

  --utility-brand-50: var(--brand-950);
  --utility-brand-50_alt: var(--gray-900);
  --utility-brand-100: var(--brand-900);
  --utility-brand-100_alt: var(--gray-800);
  --utility-brand-200: var(--brand-800);
  --utility-brand-200_alt: var(--gray-700);
  --utility-brand-300: var(--brand-700);
  --utility-brand-300_alt: var(--gray-700);
  --utility-brand-400: var(--brand-600);
  --utility-brand-400_alt: var(--gray-600);
  --utility-brand-500: var(--brand-500);
  --utility-brand-500_alt: var(--gray-500);
  --utility-brand-600: var(--brand-400);
  --utility-brand-600_alt: var(--gray-400);
  --utility-brand-700: var(--brand-300);
  --utility-brand-700_alt: var(--gray-300);
  --utility-brand-800: var(--brand-200);
  --utility-brand-800_alt: var(--gray-200);
  --utility-brand-900: var(--brand-100);
  --utility-brand-900_alt: var(--gray-100);

  --utility-error-50: var(--error-950);
  --utility-error-100: var(--error-900);
  --utility-error-200: var(--error-800);
  --utility-error-300: var(--error-700);
  --utility-error-400: var(--error-600);
  --utility-error-500: var(--error-500);
  --utility-error-600: var(--error-400);
  --utility-error-700: var(--error-300);

  --utility-warning-50: var(--warning-950);
  --utility-warning-100: var(--warning-900);
  --utility-warning-200: var(--warning-800);
  --utility-warning-300: var(--warning-700);
  --utility-warning-400: var(--warning-600);
  --utility-warning-500: var(--warning-500);
  --utility-warning-600: var(--warning-400);
  --utility-warning-700: var(--warning-300);

  --utility-success-50: var(--success-950);
  --utility-success-100: var(--success-900);
  --utility-success-200: var(--success-800);
  --utility-success-300: var(--success-700);
  --utility-success-400: var(--success-600);
  --utility-success-500: var(--success-500);
  --utility-success-600: var(--success-400);
  --utility-success-700: var(--success-300);

  --utility-gray-blue-50: var(--gray-blue-950);
  --utility-gray-blue-100: var(--gray-blue-900);
  --utility-gray-blue-200: var(--gray-blue-800);
  --utility-gray-blue-300: var(--gray-blue-700);
  --utility-gray-blue-400: var(--gray-blue-600);
  --utility-gray-blue-500: var(--gray-blue-500);
  --utility-gray-blue-600: var(--gray-blue-400);
  --utility-gray-blue-700: var(--gray-blue-300);

  --utility-blue-light-50: var(--blue-light-950);
  --utility-blue-light-100: var(--blue-light-900);
  --utility-blue-light-200: var(--blue-light-800);
  --utility-blue-light-300: var(--blue-light-700);
  --utility-blue-light-400: var(--blue-light-600);
  --utility-blue-light-500: var(--blue-light-500);
  --utility-blue-light-600: var(--blue-light-400);
  --utility-blue-light-700: var(--blue-light-300);

  --utility-blue-50: var(--blue-950);
  --utility-blue-100: var(--blue-900);
  --utility-blue-200: var(--blue-800);
  --utility-blue-300: var(--blue-700);
  --utility-blue-400: var(--blue-600);
  --utility-blue-500: var(--blue-500);
  --utility-blue-600: var(--blue-400);
  --utility-blue-700: var(--blue-300);

  --utility-blue-dark-50: var(--blue-dark-950);
  --utility-blue-dark-100: var(--blue-dark-900);
  --utility-blue-dark-200: var(--blue-dark-800);
  --utility-blue-dark-300: var(--blue-dark-700);
  --utility-blue-dark-400: var(--blue-dark-600);
  --utility-blue-dark-500: var(--blue-dark-500);
  --utility-blue-dark-600: var(--blue-dark-400);
  --utility-blue-dark-700: var(--blue-dark-300);

  --utility-indigo-50: var(--indigo-950);
  --utility-indigo-100: var(--indigo-900);
  --utility-indigo-200: var(--indigo-800);
  --utility-indigo-300: var(--indigo-700);
  --utility-indigo-400: var(--indigo-600);
  --utility-indigo-500: var(--indigo-500);
  --utility-indigo-600: var(--indigo-400);
  --utility-indigo-700: var(--indigo-300);

  --utility-purple-50: var(--purple-950);
  --utility-purple-100: var(--purple-900);
  --utility-purple-200: var(--purple-800);
  --utility-purple-300: var(--purple-700);
  --utility-purple-400: var(--purple-600);
  --utility-purple-500: var(--purple-500);
  --utility-purple-600: var(--purple-400);
  --utility-purple-700: var(--purple-300);

  --utility-fuchsia-50: var(--fuchsia-950);
  --utility-fuchsia-100: var(--fuchsia-900);
  --utility-fuchsia-200: var(--fuchsia-800);
  --utility-fuchsia-300: var(--fuchsia-700);
  --utility-fuchsia-400: var(--fuchsia-600);
  --utility-fuchsia-500: var(--fuchsia-500);
  --utility-fuchsia-600: var(--fuchsia-400);
  --utility-fuchsia-700: var(--fuchsia-300);

  --utility-pink-50: var(--pink-950);
  --utility-pink-100: var(--pink-900);
  --utility-pink-200: var(--pink-800);
  --utility-pink-300: var(--pink-700);
  --utility-pink-400: var(--pink-600);
  --utility-pink-500: var(--pink-500);
  --utility-pink-600: var(--pink-400);
  --utility-pink-700: var(--pink-300);

  --utility-orange-dark-50: var(--orange-dark-950);
  --utility-orange-dark-100: var(--orange-dark-900);
  --utility-orange-dark-200: var(--orange-dark-800);
  --utility-orange-dark-300: var(--orange-dark-700);
  --utility-orange-dark-400: var(--orange-dark-600);
  --utility-orange-dark-500: var(--orange-dark-500);
  --utility-orange-dark-600: var(--orange-dark-400);
  --utility-orange-dark-700: var(--orange-dark-300);

  --utility-orange-50: var(--orange-950);
  --utility-orange-100: var(--orange-900);
  --utility-orange-200: var(--orange-800);
  --utility-orange-300: var(--orange-700);
  --utility-orange-400: var(--orange-600);
  --utility-orange-500: var(--orange-500);
  --utility-orange-600: var(--orange-400);
  --utility-orange-700: var(--orange-300);

  /*************************************
        Components Tooltip Token 
  **************************************/
  --tooltip-supporting-text: var(--gray-dark-300);

  /*************************************
      Components Button Primary Token 
  **************************************/
  --button-primary-bg: var(--brand-600);
  --button-primary-bg_hover: var(--brand-700);
  --button-primary-fg: var(--white);
  --button-primary-fg_hover: var(--white);

  /*************************************
     Components Button Secondary Token 
  **************************************/
  --button-secondary-bg: var(--gray-dark-900);
  --button-secondary-bg_hover: var(--gray-dark-800);
  --button-secondary-fg: var(--gray-dark-300);
  --button-secondary-fg_hover: var(--gray-dark-100);
  --button-secondary-border: var(--gray-dark-700);
  --button-secondary-border_hover: var(--gray-dark-700);

  /*************************************
    Components Button Secondary Color Token 
  **************************************/
  --button-secondary-color-bg: var(--gray-dark-900);
  --button-secondary-color-border_hover: var(--gray-dark-700);
  --button-secondary-color-fg: var(--gray-dark-300);
  --button-secondary-color-fg_hover: var(--gray-dark-100);
  --button-secondary-color-border: var(--gray-dark-700);
  --button-secondary-color-bg_hover: var(--gray-dark-800);

  /*************************************
    Components Button Primary Error Token 
  **************************************/
  --button-primary-error-bg: var(--error-600);
  --button-primary-error-bg_hover: var(--error-700);
  --button-primary-error-fg: var(--white);
  --button-primary-error-fg_hover: var(--white);

  /*************************************
      Components Button Secondary Error Token 
  **************************************/
  --button-secondary-error-bg: var(--error-950);
  --button-secondary-error-bg_hover: var(--error-900);
  --button-secondary-error-fg: var(--error-200);
  --button-secondary-error-fg_hover: var(--error-100);
  --button-secondary-error-border: var(--error-800);
  --button-secondary-error-bg_hover: var(--error-700);

  /*************************************
      Components WYSIWYG editor Token 
  **************************************/
  --wysiwyg-editor-icon-fg: var(--gray-dark-400);
  --wysiwyg-editor-icon-fg_active: var(--white);

  /*************************************
      Components Button Tertiary Token 
  **************************************/
  --button-tertiary-bg_hover: var(--gray-dark-800);
  --button-tertiary-fg: var(--gray-dark-400);
  --button-tertiary-fg_hover: var(--gray-dark-200);

  /*************************************
      Components Button Tertiary Color Token 
  **************************************/
  --button-tertiary-color-bg_hover: var(--error-800);
  --button-tertiary-color-fg: var(--gray-dark-300);
  --button-tertiary-color-fg_hover: var(--gray-dark-100);

  /*************************************
       Components Button Tertiary Error Token 
  **************************************/
  --button-tertiary-error-bg_hover: var(--error-900);
  --button-tertiary-error-fg: var(--error-300);
  --button-tertiary-error-fg_hover: var(--error-200);

  /*************************************
        Components Slider Token 
  **************************************/
  --slider-handle-border: var(--bg-primary);
  --slider-handle-bg: var(--fg-brand-primary);

  /*************************************
          Components Toggle Token 
  **************************************/
  --toggle-button-fg_disabled: var(--gray-dark-600);

  /*************************************
            Effect Shadow Token 
  **************************************/
  --shadow-xs: var(--transparent);
  --shadow-sm_01: var(--transparent);
  --shadow-sm_02: var(--transparent);
  --shadow-md_01: var(--transparent);
  --shadow-md_02: var(--transparent);
  --shadow-lg_01: var(--transparent);
  --shadow-lg_02: var(--transparent);
  --shadow-xl_01: var(--transparent);
  --shadow-xl_02: var(--transparent);
  --shadow-2xl: var(--transparent);
  --shadow-3xl: var(--transparent);
  --shadow-skeumorphic-inner: rgba(12, 17, 29, 5%);
  --shadow-skeumorphic-inner_border: rgba(12, 17, 29, 18%);

  /*************************************
          Effect Focus Rings Token 
  **************************************/
  --focus-ring: var(--brand-500);
  --focus-ring-error: var(--error-500);
}
