:root {
  --space-none: 0rem;
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.375rem;
  --space-md: 0.5rem;
  --space-lg: 0.75rem;
  --space-xl: 1rem;
  --space-2xl: 1.25rem;
  --space-3xl: 1.5rem;
  --space-4xl: 2rem;
  --space-5xl: 2.5rem;
  --space-6xl: 3rem;
  --space-7xl: 4rem;
  --space-8xl: 5rem;
  --space-9xl: 6rem;
  --space-10xl: 8rem;
  --space-11xl: 10rem;
  --space-full: 9999px;
}
