@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../configs/colors/light/theme.css";
@import "../configs/colors/dark/theme.css";
@import "../configs/colors/tokens/tokens-colors.css";
@import "../configs/colors/tokens/tokens-colors-dark.css";
@import "../configs/ui/spacing/spacing.css";
@import "../configs/ui/space/space.css";
@import "../configs/ui/width/width.css";
@import "../configs/ui/radius/radius.css";
@import "../configs//ui/typography/typogeraphy.css";
@import "../configs//ui/typography/fontWeight.css";

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
