.dark {
  /* Dark accent colors shade */
  /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
  --accent: 180 3% 94%;
  --accent-foreground: 0 0% 0%;

  --accent-50: 180 3% 94%;
  --accent-50-foreground: 0 0% 0%;

  --accent-100: 240 2% 89%;
  --accent-100-foreground: 0 0% 0%;

  --accent-200: 210 2% 83%;
  --accent-200-foreground: 0 0% 0%;

  --accent-300: 240 2% 78%;
  --accent-300-foreground: 0 0% 0%;

  --accent-400: 225 2% 66%;
  --accent-400-foreground: 0 0% 0%;

  --accent-500: 228 2% 55%;
  --accent-500-foreground: 0 0% 100%;

  --accent-600: 230 3% 44%;
  --accent-600-foreground: 0 0% 100%;

  --accent-700: 228 3% 35%;
  --accent-700-foreground: 0 0% 100%;

  --accent-800: 225 3% 26%;
  --accent-800-foreground: 0 0% 100%;

  --accent-900: 240 2% 18%;
  --accent-900-foreground: 0 0% 100%;

  --accent-950: 240 3% 13%;
  --accent-950-foreground: 0 0% 100%;
}
