.dark {
  /* Error Dark colors shade */
  --error: 0 80% 33%;
  --error-foreground: 0 0% 100%;

  --error-50: 0 92% 10%;
  --error-50-foreground: 0 0% 100%;

  --error-100: 0 92% 15%;
  --error-100-foreground: 0 0% 100%;

  --error-200: 0 90% 19%;
  --error-200-foreground: 0 0% 100%;

  --error-300: 0 88% 23%;
  --error-300-foreground: 0 0% 100%;

  --error-400: 0 87% 27%;
  --error-400-foreground: 0 0% 100%;

  --error-500: 0 80% 33%;
  --error-500-foreground: 0 0% 100%;

  --error-600: 0 74% 39%;
  --error-600-foreground: 0 0% 100%;

  --error-700: 0 69% 44%;
  --error-700-foreground: 0 0% 100%;

  --error-800: 0 66% 50%;
  --error-800-foreground: 0 0% 100%;

  --error-900: 0 80% 56%;
  --error-900-foreground: 0 0% 100%;

  --error-950: 0 97% 62%;
  --error-950-foreground: 0 0% 100%;
}
