.dark {
  /* Dark muted colors shade */
  /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
  --muted: #f0f1f1;
  --muted-foreground: #000000;

  --muted-50: #f0f1f1;
  --muted-50-foreground: #000000;

  --muted-100: #e2e2e3;
  --muted-100-foreground: #000000;

  --muted-200: #d3d4d5;
  --muted-200-foreground: #000000;

  --muted-300: #c5c5c7;
  --muted-300-foreground: #000000;

  --muted-400: #a7a8ab;
  --muted-400-foreground: #000000;

  --muted-500: #8a8b8f;
  --muted-500-foreground: #000000;

  --muted-600: #6d6e73;
  --muted-600-foreground: #ffffff;

  --muted-700: #57585c;
  --muted-700-foreground: #ffffff;

  --muted-800: #414245;
  --muted-800-foreground: #ffffff;

  --muted-900: #2c2c2e;
  --muted-900-foreground: #ffffff;

  --muted-950: #212123;
  --muted-950-foreground: #ffffff;
}
