.dark {
  /* Dark Primary colors shade   222.2 47.4% 11.2% */
  --primary: 209 74% 15%;
  --primary-foreground: 0 0% 100%;

  --primary-50: 210 77% 15%;
  --primary-50-foreground: 0 0% 100%;

  --primary-100: 208 78% 23%;
  --primary-100-foreground: 0 0% 100%;

  --primary-200: 209 77% 31%;
  --primary-200-foreground: 0 0% 100%;

  --primary-300: 209 78% 38;
  --primary-300-foreground: 0 0% 100;

  --primary-400: 209 48% 51%;
  --primary-400-foreground: 0 0% 0%;

  --primary-500: 208 48% 63%;
  --primary-500-foreground: 0 0% 0%;

  --primary-600: 210 49% 75%;
  --primary-600-foreground: 0 0% 0%;

  --primary-700: 209 49% 82%;
  --primary-700-foreground: 0 0% 0%;

  --primary-800: 209 49% 88%;
  --primary-800-foreground: 0 0% 0%;

  --primary-900: 208 48% 94%;
  --primary-900-foreground: 0 0% 0%;

  --primary-950: 0 0% 100%;
  --primary-950-foreground: 0 0% 0%;
}
