.dark {
  /* Dark Secondary colors shade */
  --secondary: 180 3% 94%;
  --secondary-foreground: 0 0% 0%;

  --secondary-50: 180 3% 94%;
  --secondary-50-foreground: 0 0% 0%;

  --secondary-100: 240 2% 89%;
  --secondary-100-foreground: 0 0% 0%;

  --secondary-200: 210 2% 83%;
  --secondary-200-foreground: 0 0% 0%;

  --secondary-300: 240 2% 78%;
  --secondary-300-foreground: 0 0% 0%;

  --secondary-400: 225 2% 66%;
  --secondary-400-foreground: 0 0% 0%;

  --secondary-500: 228 2% 55%;
  --secondary-500-foreground: 0 0% 0%;

  --secondary-600: 230 3% 44%;
  --secondary-600-foreground: 0 0% 100%;

  --secondary-700: 228 3% 35%;
  --secondary-700-foreground: 0 0% 100%;

  --secondary-800: 225 3% 26%;
  --secondary-800-foreground: 0 0% 100%;

  --secondary-900: 240 2% 18%;
  --secondary-900-foreground: 0 0% 100%;

  --secondary-950: 240 3% 13%;
  --secondary-950-foreground: 0 0% 100%;
}
