.dark {
  /* Dark success colors shade */
  --success: 151 91% 32%;
  --success-foreground: 0 0% 0%;

  --success-50: 144 92% 10%;
  --success-50-foreground: 0 0% 100%;

  --success-100: 146 92% 14%;
  --success-100-foreground: 0 0% 100%;

  --success-200: 149 91% 18%;
  --success-200-foreground: 0 0% 100%;

  --success-300: 150 91% 23%;
  --success-300-foreground: 0 0% 100%;

  --success-400: 151 91% 27%;
  --success-400-foreground: 0 0% 100%;

  --success-500: 151 91% 32%;
  --success-500-foreground: 0 0% 0%;

  --success-600: 151 91% 36%;
  --success-600-foreground: 0 0% 0%;

  --success-700: 151 91% 41%;
  --success-700-foreground: 0 0% 0%;

  --success-800: 151 91% 45%;
  --success-800-foreground: 0 0% 0%;

  --success-900: 151 91% 50%;
  --success-900-foreground: 0 0% 0%;

  --success-950: 152 100% 53%;
  --success-950-foreground: 0 0% 0%;
}
