.dark {
  /* Dark warning colors shade */
  --warning: 47 90% 40%;
  --warning-foreground: 0 0% 0%;

  --warning-50: 48 88% 13%;
  --warning-50-foreground: 0 0% 100%;

  --warning-100: 49 89% 18%;
  --warning-100-foreground: 0 0% 100%;

  --warning-200: 48 90% 23%;
  --warning-200-foreground: 0 0% 100%;

  --warning-300: 47 90% 29%;
  --warning-300-foreground: 0 0% 100%;

  --warning-400: 47 91% 34%;
  --warning-400-foreground: 0 0% 0%;

  --warning-500: 47 90% 40%;
  --warning-500-foreground: 0 0% 0%;

  --warning-600: 47 90% 45%;
  --warning-600-foreground: 0 0% 0%;

  --warning-700: 47 93% 51%;
  --warning-700-foreground: 0 0% 0%;

  --warning-800: 50 100% 53%;
  --warning-800-foreground: 0 0% 0%;

  --warning-900: 55 100% 53%;
  --warning-900-foreground: 0 0% 0%;

  --warning-950: 59 100% 53%;
  --warning-950-foreground: 0 0% 0%;
}
